<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Follow us on github
        <a href="https://github.com/tsabunkar" target="_blank">tsabunkar</a>
        <br>

        <a href="https://stackoverflow.com/users/7472904/sabunkar-tejas-sahailesh">
          <img src="https://stackoverflow.com/users/flair/7472904.png" width="208" height="58" alt="profile for Sabunkar Tejas Sahailesh at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
            title="profile for Sabunkar Tejas Sahailesh at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
        </a>

      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="logo-ionic" slot="start"></ion-icon>
        @ionicframework
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>